@font-face {
    font-family: 'HEAD_FONT';
    src: url('/font/Lora-VariableFont_wght.ttf');
  }

.header {
    position: fixed;
    width: 100vw;
    background-color: #8EE3C8;
    top: 0;
    color: #3956A3;
    z-index: 1000000000000000;

    .nav {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ul {
        display: flex;

        li {
            margin-left: 3rem;

            a {
                display: block;
                font-family: HEAD_FONT, sans-serif;
                &:hover {
                    opacity: 0.8;
                    border-bottom: 1px solid rgba($color: #3956A3, $alpha: 0.8);
                }
            }

        }
    }

    //SP
    @media screen and (max-width:550px) {
        a {
            &:active {
                transform: scale(.95);
                opacity: 0.8;

            }
        }
    }
}