@font-face {
  font-family: 'HEAD_FONT';
  src: url('/font/Lora-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'MAIN_FONT';
  src: url('/font/NotoSansJP-Regular.otf');
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: MAIN_FONT, sans-serif;
}

body {
  background-color: #F0FFFF;
}

main {
  margin-top: 5rem;
  padding: 0 2rem;
}

ul,
p,
a {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: HEAD_FONT, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,textarea {
  outline: none;
}

/* Contactでフォーカス時の処理 */
.focused {
  border-color: #8EE3C8 !important;
  box-shadow: 0 0 8px 0 #8EE3C8 !important;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}